*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    font-size: 5vh;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#board{
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-template-rows: repeat(3, .1fr);
    width: 50vh;
    height: 50vh;
    margin: 5vh auto;
    align-items: center;
    justify-content: center;
}
.square{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 5vh;
    font-weight: bold;
    cursor: pointer;
}